/* 공통 common.css */
#wrap {}
#wrap * {transition:all 0.3s;}
#wrap .container {
    min-width:320px;
    background-size:cover; background-position:center; 
    padding:70px 15px;
}
#wrap .container .contents {max-width:1250px; margin:0 auto;}
#wrap .container .contents h1 {
    font-size:1.38rem; font-weight:500; line-height:1.2; margin:0 0 40px;
}
#wrap .container .contents h1 .highlight {background-color:#fff; color:#050505; font-weight:500;}
#wrap .container .contents p {
    font-size:0.81rem;
    line-height:1.7; font-weight:500; margin:0 0 22px;
}
/* mobile design - .sponsor_btn  */
#wrap .container .sponsor_btn {
    display:block; margin: 0 auto;
    display:flex; flex-flow:row nowrap; 
    justify-content:center; align-items:center;
    background:linear-gradient(90deg, #FE9300,#FF7300);
    width:164px; height:41px;
    border-radius:37.5px; gap:10px;
    transition:font-weight 0.3s;
}
#wrap .container .sponsor_btn::after {
    content:'>'; display:block;
    color:#fff; font-size:0.75rem;
}
#wrap .container .sponsor_btn em {
    font-weight: 500; color:#fff;
}
#wrap .container .sponsor_btn:hover::after {
    animation:x4 0.4s linear alternate infinite;
    font-weight:600;
}
@keyframes x4 {
    0% {transform: translateX(0);}
    100% {transform: translateX(4px);}
}