/* 공통 common.css */
#wrap {}
#wrap * {transition:all 0.3s;}
#wrap .contaniner {
    min-width:320px;
}
/* mobile design - .sponsor_btn  */
#wrap .contaniner .sponsor_btn {
    display:block; margin: 0 auto;
    display:flex; flex-flow:row nowrap; 
    justify-content:center; align-items:center;
    background:linear-gradient(90deg, #FE9300,#FF7300);
    width:164px; height:41px;
    border-radius:37.5px; gap:10px;
    transition:font-weight 0.3s;
}
#wrap .contaniner .sponsor_btn::after {
    content:'>'; display:block;
    color:#fff; font-size:0.75rem;
}
#wrap .contaniner .sponsor_btn em {
    font-weight: 500; color:#fff;
}
#wrap .contaniner .sponsor_btn:hover::after {
    animation:x4 0.4s linear alternate infinite;
    font-weight:600;
}
@keyframes x4 {
    0% {transform: translateX(0);}
    100% {transform: translateX(4px);}
}