/* 반응형조건 responsive */
/* m(320~) -> t(1024~) -> d(1250~) */
@media screen and (min-width:600px) {
    /* ================================================2행 퀴즈 */
    #wrap .quiz_bg .quiz {flex-flow:row nowrap;/* t, d column -> row */}
    #wrap .quiz_bg .quiz > * {flex:1;}
}
@media screen and (min-width:860px) {
    #wrap .intro {padding:300px 0 100px;}
    /* ================================================3~6행 공통 */
    #wrap .container .contents {padding:200px 80px;}
    #wrap .container .contents h1 {font-size:2.50rem; line-height:1.2; margin:0 0 40px;}
    #wrap .container .contents p {font-size:1.38rem;}
    /* ================================================3행 */
    #wrap .video_bg .video h1 {margin:0 0 70px;}
    #wrap .video_bg .video iframe {height:484px;}
    /* ================================================5행 */
    #wrap .humanity_bg .humanity .list {flex-flow:row nowrap;}
    #wrap .humanity_bg .humanity .list li {flex:1;}
    #wrap .humanity_bg .humanity .list li dl dt {font-size:2.69rem;}
    #wrap .humanity_bg .humanity .list li .txt {height:250px;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size:1rem;}
    /* ================================================9행 */
    #wrap .present_bg .present {}
    #wrap .present_bg .present .title {
        flex-flow:row nowrap; 
        justify-content:space-between; align-items:end;
        margin:0 0 40px;
    }
    #wrap .present_bg .present .title h1 {margin: 0;}
    #wrap .present_bg .present .title a {}
    #wrap .present_bg .present .present_details {
        gap: 20px;
        grid-template-areas: 
            'present1 present2'
            'present3 present3';
            grid-template-columns: 1fr 1fr;
    }
    #wrap .present_bg .present .present_details li {}
    #wrap .present_bg .present .present_details li .photo {height:300px; transform: translateY(100px);} 
    #wrap .present_bg .present .present_details li .photo img {height:100%;}
    #wrap .present_bg .present .present_details li h2 {font-size: 1rem;}
    #wrap .present_bg .present .present_details li p {font-size: 1rem;}
    #wrap .present_bg .present p {text-align: right;}
    #wrap .present_bg .present p span {font-size: 1rem;}
}/* 860~1023 */
@media screen and (min-width:1024px) {
    #wrap .intro {padding:410px 0 100px;}
    #wrap .intro .logo {width: 32px; left:36px; top:30px;}
    #wrap .intro h1 { margin:0 0 100px;}
    #wrap .intro h1 span {font-size:3.13rem; font-weight:600;}
    #wrap .container .sponsor_btn {width: 238px; height:60px; }
    #wrap .container .sponsor_btn em {font-size: 1.38rem;}
    #wrap .container .sponsor_btn::after {font-size: 1rem;}
    /* ================================================2행 퀴즈 */
    #wrap .quiz_bg {padding:150px 80px;}
    #wrap .quiz_bg .quiz .quiz_list {width:400px;}
    #wrap .quiz_bg .quiz .quiz_list h1 {font-size:2.50rem; text-align: center; margin:0 0 56px;}
    #wrap .quiz_bg .quiz .quiz_list h2 span {font-size:1.25rem; display:inline;}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul {margin:0 0 38px;}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li label {
        font-size:1.25rem; display:block;
        background-size:28px; line-height:2;
        padding-left:48px;
    }
    /* ==================================================8행 */
    #wrap .activity_bg .activity .details {
        grid-template-areas: 
            'public nature'
            'corporation nature';
            grid-template-columns: 1fr 1fr;
        }
        #wrap .activity_bg .activity .details li {padding-bottom:22px; position: relative;}
        #wrap .activity_bg .activity .details li .txt {padding:20px; background:rgba(0,0,0,0.5); width:50%;}
        #wrap .activity_bg .activity .details li:nth-child(3) .txt {position: absolute; left:0; bottom:31px;}
        #wrap .activity_bg .activity .details li .txt dt {margin-bottom:18px; font-size:2.13rem; color:#fff;}
        #wrap .activity_bg .activity .details li .txt dd {font-size:1.25rem; line-height:1.7;}
    /* ================================================9행 */
    #wrap .present_bg .present {padding:200px 0;}
    #wrap .present_bg .present h1 {}
    #wrap .present_bg .present a {}
    #wrap .present_bg .present .present_details {
        padding:40px 0; gap:45px;
            grid-template-areas: 
        'present1 present2 present3';
        grid-template-columns: 1fr 1fr 1fr;
    }
    #wrap .present_bg .present .present_details li {}
    #wrap .present_bg .present .present_details li .photo {height:300px;}
    #wrap .present_bg .present .present_details li .photo img {height:100%;}
    #wrap .present_bg .present .present_details li .photo h2 {font-size:1.25rem;}
    #wrap .present_bg .present .present_details li .photop {font-size:1.25rem;}
    #wrap .present_bg .present p {text-align: center;}
    #wrap .present_bg .present p span {font-size: 1.25rem;}
    /* ================================================10행 */
    #wrap .guide_bg .guide {padding:0;}
    #wrap .guide_bg .guide h1 {font-size: 1.38rem; margin:0;}
    #wrap .guide_bg .guide p {font-size: 1rem;}
    }/* 1024~ */
    @media screen and (min-width:1250px) {
        #wrap .intro {padding:447px 0 100px;}
        #wrap .intro .logo {width: 42px; left:61px; top:53px;}
    #wrap .intro h1 span {font-size:4.38rem;}
    #wrap .intro h1 span:nth-child(1) {font-weight:400;}
    #wrap .intro h1 span:nth-child(2) {font-weight:700;}
    #wrap .intro .sponsor_btn {width: 409px; height:71px; }
    #wrap .intro .sponsor_btn em {font-size: 2.13rem;}
    #wrap .intro .sponsor_btn::after {font-size: 2rem;}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm #answer_btn {width:75%;}
    /* ================================================3~6행 공통 */
    #wrap .container .contents {padding:200px 80px;}
    #wrap .container .contents h1 {font-size:3.44rem; margin:0 0 81px;}
    #wrap .container .contents p {font-size:2.13rem;}
    /* ================================================3행 */
    #wrap .video_bg .video iframe {height:600px;}
    /* ================================================5행 */
    #wrap .humanity_bg .humanity p {font-size:1.25rem;}
    #wrap .humanity_bg .humanity .list li dl dt {font-size:2.69rem;}
    #wrap .humanity_bg .humanity .list li dl dd {font-size:1.25rem;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size:1.25rem;}
    /* ================================================10행 */
    #wrap .guide_bg .guide {}
    #wrap .guide_bg .guide h1 {font-size: 2.13rem; margin:0;}
    #wrap .guide_bg .guide p {font-size:1.56rem;}
}/* 1250~max */
